client/node_modules/
client/frontend/node_modules/
client/frontend/.env
balancer/venv/
.DS_Store
ranker/venv/
metrics/venv/
keys/
*/__pycache__/
balancer/helpers/__pycache__/
ranker/helpers/__pycache__/
.metals/
documents/
