client/node_modules/
client/package-lock.json

client/frontend/node_modules/
client/frontend/package-lock.json

client/*.rest

balancer/venv/
.DS_Store
ranker/venv/
metrics/venv/
keys/
*/__pycache__/
balancer/helpers/__pycache__/
ranker/helpers/__pycache__/
.metals/
documents/
